.app-input {
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  background: #f7f7f7;
  transition: background-color 0.15s ease-in-out;

  &_small {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  &_large {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  &:focus {
    outline: 1px solid #5295d5;
  }

  &.invalid,
  &.invalid:hover,
  &.invalid:focus {
    background-color: #fae6eb;
  }

  &:not(:disabled):hover {
    background-color: #e9e9e9;
  }

  &::placeholder {
    color: #d4d4d4;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
