.app-sidebar {
  position: fixed;
  width: 300px;
  height: calc(100vh - 7rem);
  z-index: 999;
  overflow-y: auto;
  user-select: none;
  top: 6rem;
  left: 1rem;
  transition: all $transitionDuration ease;
  background-color: var(--surface-overlay);
  border-radius: $borderRadius;
  padding: 0.5rem 1.5rem;
  box-shadow:
    0px 3px 5px rgba(0, 0, 0, 0.02),
    0px 0px 2px rgba(0, 0, 0, 0.05),
    0px 1px 4px rgba(0, 0, 0, 0.08);
}

@media (max-width: 991px) {
  .layout-wrapper {
    .app-sidebar {
      transform: translateX(-100%);
      left: 0;
      top: 0;
      height: 100vh;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.layout-mobile-active {
      .app-sidebar {
        transform: translateX(0);
      }
    }
  }
}

@media (min-width: 992px) {
  .layout-wrapper {
    &.layout-overlay {
      .app-sidebar {
        transform: translateX(-100%);
        left: 0;
        top: 0;
        height: 100vh;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &.layout-overlay-active {
        .app-sidebar {
          transform: translateX(0);
        }
      }
    }

    &.layout-static.layout-static-inactive {
      .app-sidebar {
        transform: translateX(-100%);
        left: 0;
      }
    }
  }
}
