.app-modal {
  position: relative;
  max-width: 75vw;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  background-color: #ffffff;

  @media screen and (max-width: 1399px) {
    max-width: 90vw;
  }

  &__wrapper {
    background-color: #00000030;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
  }

  &__wrapper.y-center {
    align-items: center;
  }

  &__wrapper.y-top {
    align-items: flex-start;
    padding-top: 24px;
  }

  &__wrapper.y-bottom {
    align-items: flex-end;
    padding-bottom: 24px;
  }

  &__wrapper.x-center {
    justify-content: center;
  }

  &__wrapper.x-left {
    justify-content: flex-start;
    padding-left: 24px;
  }

  &__wrapper.x-right {
    justify-content: flex-end;
    padding-right: 24px;
  }

  &__header {
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__main {
    padding: 10px 20px 10px 20px;
    max-height: 75vh;
    overflow-y: auto;
  }

  &__main.separated {
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
  }

  &__footer {
    padding: 10px 20px 10px 20px;
  }

  &__close-btn {
    background-color: #f7f7f7;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 50%;
    transition: 0.1s all ease-in;
    cursor: pointer;
  }

  &__close-btn:hover {
    background-color: #e9e9e9;
  }

  &__close-btn:active {
    opacity: 0.7;
  }

  &__close-btn svg {
    width: 24px;
    height: 24px;
  }

  &__title {
    max-height: 100px;
    overflow-y: auto;
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s;

  .app-modal {
    transition: all 0.3s;
    transform: translateY(0);
  }
}

.v-enter-from,
.v-leave-to {
  opacity: 0;

  .app-modal {
    opacity: 0;
    transform: translateY(-50%);
  }
}
